[0;1;32m●[0m iot-backend.service - IoT V1 Backend (FastAPI) - system
     Loaded: loaded (/etc/systemd/system/iot-backend.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Sun 2026-04-12 21:20:12 CST; 53min ago
    Process: 1881654 ExecStartPre=/bin/sleep 2 (code=exited, status=0/SUCCESS)
   Main PID: 1881700 (python)
      Tasks: 4 (limit: 37925)
     Memory: 56.7M
     CGroup: /system.slice/iot-backend.service
             └─1881700 /home/yhz/iot/v1-backend/.venv/bin/python -m uvicorn app.main:app --host 127.0.0.1 --port 8081

4月 12 22:03:29 ubunto python[1881700]: INFO:     127.0.0.1:37948 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:04:29 ubunto python[1881700]: INFO:     127.0.0.1:59922 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:05:29 ubunto python[1881700]: INFO:     127.0.0.1:43828 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:06:30 ubunto python[1881700]: INFO:     127.0.0.1:54784 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:07:30 ubunto python[1881700]: INFO:     127.0.0.1:52514 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:08:30 ubunto python[1881700]: INFO:     127.0.0.1:40468 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:09:30 ubunto python[1881700]: INFO:     127.0.0.1:38514 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:10:30 ubunto python[1881700]: INFO:     127.0.0.1:50022 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:11:31 ubunto python[1881700]: INFO:     127.0.0.1:49506 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
4月 12 22:12:31 ubunto python[1881700]: INFO:     127.0.0.1:33460 - "GET /api/v1/files?nifiOnly=true&pageNo=1&pageSize=1 HTTP/1.1" 200 OK
