# NiFi orchestration environment template
NIFI_CONTAINER_NAME=iot-nifi
NIFI_IMAGE=iot-nifi-python:latest
NIFI_HTTP_PORT=8080
NIFI_API_BASE=http://127.0.0.1:8080/nifi-api
NIFI_BASE_URL=http://127.0.0.1:8080
NIFI_WEB_PROXY_CONTEXT_PATH=/nifi
NIFI_REAL_BASE_DIR=/home/yhz/iot/real_nifi_data
NIFI_CONTAINER_DATA_DIR=/opt/nifi/nifi-current/data/iot
NIFI_AUTO_CREATE_CONTAINER=false
NIFI_AUTO_START_CONTAINER=false
NIFI_AUTO_DEPLOY_FLOW=false
NIFI_READY_TIMEOUT_SECONDS=120
NIFI_READY_INTERVAL_SECONDS=3
# NiFiClient settings (if using NiFi with auth)
NIFI_USERNAME=admin
NIFI_PASSWORD=YourStrongPassword123
NIFI_VERIFY_SSL=false
